$font: 'Roboto', sans-serif;
$fSize: 18px;
$fcolor: black;
$fweight: 300;

$btnwidth:75px;
$btnheight:35px;
$btnHoverbgcolor:blue;
$btnHovercolor:white;

$shadowparam:0px 0px 11px 0px lightgray;
$height-user:150px;
$width-user:100%;
$margin-user: 20px 0;
$padding-user:2% 5%;
$bgcolor-user:white;

$focuscolor:rgb(2, 132, 210);